
#form-heading{
  font-size: large;
  text-align: center;
}
button {
  height: 50px;
  background: orange;
  border: none;
  color: white;
  font-size: 1.25em;
  font-family: "Nanum Gothic";
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  border: 2px solid black;
}


